{% extends "layout.html" %}


{% block title %}
    Login
{% endblock %}

{% block main %}
<div class="container mt-5 py-5 d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-outline-light"><a class="nav-link" href="/login">Log In with Spotify</a></button>
</div>
<div class="container d-flex justify-content-center align-items-center">
    <img class="spotify_logo" src="/static/spotify_content/Spotify_Icon_RGB_White.png" alt="spotify logo">
</div>
{% endblock %}